html {
	margin-bottom: 7px;
}

h1 {

	font-family: cursive;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: whitesmoke;
	margin-bottom: 1px;
}


marquee {
	font-size: 30px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;

	
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: cursive;
  font-weight: bold;
  color: darkgoldenrod;
  padding-top: 40px;


}


ul {
	list-style-type: none;
	float: right;
	padding-bottom: 2px;
}

li {
	display: inline;
}

li a {
	padding: 15px 32px;
	color: black;
	text-decoration: none;
	text-align: center;
	font-size: 17px;
	font-family: cursive;
	font-style: oblique;
}

li a:hover{
	background-color: chocolate;
	color: whitesmoke;
	border-radius: 8px;
}

body {
	background-color: blueviolet;
}


p {
	font-family: cursive;
	font-size: 20px;
}

footer {
	text-align: center;
	background-color: whitesmoke;
	padding: 10px;
}